body{
    margin-top: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.img{
    width: 100%;
    height: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.card{
    width: 140px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    transition: 0.22s;
    border-radius: 8px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 22px;
    
}

.card:hover{
    transform: scale(1.1);
    
}

.btn{
    width: 80%;
    margin-left: 14px;
    height: 30px;
    background-color: rgb(253, 30, 30);
    border: none;
    border-radius: 40px;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover{
    transform: scale(1.1);
    color: rgb(253, 30, 30);
    background-color: white;
    border: 1px solid rgb(253, 30, 30);
}



